<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contacted Details</title>
</head>
<body>
    <h3 style="color:green;">Success</h3>
    <div class="formDetails">
        <b>Contacted on :</b>
        <i th:text="${#dates.format(savedContactUsForm.contactedAt, 'dd-MMM-yyyy hh:mm a')}"/><br>
        <b>Contacted by :</b> <i th:text="${savedContactUsForm.name+'('+savedContactUsForm.email+')'}"></i><br>
        <b>Subject :</b> <i th:text="${savedContactUsForm.subject}"></i><br>
        <b>Message :</b> <i th:text="${savedContactUsForm.message}"></i><br>
    </div>
</body>
</html>